
body {
  margin: 0px;
  background-color: rgb(252, 250, 249);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-page{
 
  text-align: center;
  background-color: rgb(209, 206, 206);
  padding: 11px;
}
.animals-page{
  text-align: center; 
  background-color:rgb(145, 142, 142);  
  padding: 11px;
  height: fit-content;
  width: 100vw;
  

}
.adopt-pet{
  text-align: center;
  background-color: rgb(150, 154, 154);
  height: fit-content;

}
.adopted{
  text-align: center;
  background-color: rgb(150, 154, 154);
  padding: 20px;
  
min-height: 100vh;
max-height: fit-content;
}
.about-page{
  text-align: center;
  background-color:rgb(172, 168, 168);  
  padding: 11px;
  height: 100vh;

}

.adopted-num{
  text-align: center;
  border: 1px solid black;
  margin: 100px;
  padding: 10px;
  border-radius: 10px;
}

.puppy-eyes{
  width: 50vw;
  height: 70vh;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5%;
}

.navbar{
  height:10vh; 
  width: 100vw;
  background-color: rgb(177, 140, 119);
  border: 1px solid black;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  

}
.nav-item{
  color: black;
}
.grid-pet{
  
    border:2px solid rgb(85, 149, 145); 
    border-radius: 3%;
    background-color: rgb(139, 208, 209);
    margin-bottom: 5px;
    padding:4px;
    width: 30%;
    height:55%;
    position: relative;
    left: 35%;

     
   
}
.adopted-pet{
 border:2px solid rgb(85, 149, 145); 
 border-radius: 3%;
 background-color: rgb(139, 208, 209);
 margin-bottom: 5px;
 padding:4px;
 width: 30%;
 height:55%;
 position: relative;
 left: 35%;

  
}
.top-link{
  color:black;


}

.grid-header{
  
text-align: center;
margin: 0px;

}

.grid-img{
  width: 60%;
  height: 55%;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  background-image: center;
  
}
.button{
  border-radius: 10px;
  padding:4px;
}
.option-container{
  /* border: 1px solid black; */
  height: fit-content;
  width:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: auto;
}
 .select{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 20px;
   width: 90px;
   border: 1px solid black;
   border-radius: 3px;
   background-color: black;
   color:white;
   font-weight: bold;
   padding: 2px;
   font-size: large;
   
   
 }
 .select:active{
   color:grey;
   height: fit-content;
 }
